<div class="mypage-title">
  <mark style="font-size: 20px;">注文履歴一覧</mark>
</div>

<div class="row">
<div class="col-xs-10">

  <table class="table table-bordered">
    <thead>
	  <tr>
		  <th bgcolor="#f5f5f5", style="width:50px">注文日</th>
		  <th bgcolor="#f5f5f5", style="width:200px">配送先</th>
		  <th bgcolor="#f5f5f5", style="width:80px">注文商品</th>
		  <th bgcolor="#f5f5f5", style="width:50px">支払金額</th>
		  <th bgcolor="#f5f5f5", style="width:80px">ステータス</th>
		  <th bgcolor="#f5f5f5", style="width:50px">注文詳細</th>
	  </tr>
	</thead>