<h2>商品詳細</h2>

<div class="container">
  <div class="row">
    <div class="card mb-3" style="max-width: 540px;">
      <div class="row no-gutters">
        <div class="col-md-4">
          <svg class="bd-placeholder-img" width="100%" height="250" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: Image"><title>Placeholder</title><rect fill="#868e96" width="100%" height="100%"/><text fill="#dee2e6" dy=".3em" x="50%" y="50%">Image</text></svg>
        </div>
      </div>
    </div>
  </div>
</div>


    <div class="container">
      <div class="row">
        <div class="col-mb-8">
          <div class="card-body">
            <h5 class="card-title">商品名</h5>
            <p class="product-name">洋梨のチーズタルト</p>

            <h5 class="card-title">商品説明</h5>
            <p class="description">北海道産の最高級カッテージチーズ＆最高級生クリームを贅沢に使用。</p>

            <h5 class="genre">ジャンル</h5>
            <p class="genre-name">ケーキ</p>

            <h5 class="price">税込価格（税抜き価格）</h5>
            <p class="price">1,100（1,000）</p>

            <h5 class="sale-status">販売ステータス</h5>
            <p class="status">販売中</p>
          </div>
        </div>
      </div>
    </div>