<div class="row">
  <div class="col-md-8 col-md-offset-2">

    <div class="col-md-9">
      <div style="margin: 0px 0px 30px 23px;">
        <mark style="font-size: 20px;">商品一覧</mark>
      </div>
    </div>

    <div class="col-md-3">
      <div class="add">

         </div>
    </div>

    <table class="table table-inverse margin-30">
      <thead>
          <tr class="active">
            <th style="width:10%">商品ID</th>
            <th style="width:30%">商品名</th>
            <th style="width:15%">税抜価格</th>
            <th style="width:30%">ジャンル</th>
            <th style="width:15%">ステータス</th>
          </tr>
        </thead>

                <tbody>
<tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td>
              販売中
                販売停止中
</td>
          </tr>
                  </tbody>
        <p>検索に該当する商品はありません</p>
</table>
    <div class="paginate-tag">

      </div>

  </div>
</div>