<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <div class="sign_in">
      <mark>管理者ログイン</mark>
    </div>

 <table border="0">
      <tr>
          <th>メールアドレス</th>
          <td style="width:500px">

</td>
      </tr>
      <tr>
          <th>パスワード</th>
          <td style="width:500px">
 </td>
      </tr>
    </table>

      <div class="actions center margin-30">

<table>
      <tr>
        <td><a class="btn btn-primary" href="#" role="button">ログイン</a></td>
      </tr>
    </table>
