<!-- ここは管理者側の会員情報の画面を表示します -->

<h3>customer_nameさんの会員情報</h3>

  <p>顧客ID</p>
  <p>氏名</p>
  <p>フリガナ</p>
  <p>郵便番号</p>
  <p>住所</p>
  <p>電話番号</p>
  <p>メールアドレス</p>

  <button type="button" class="btn btn-primary">編集する</button>
  <button type="button" class="btn btn-primary">注文履歴一覧を見る</button>