<!-- ここは管理者側の会員情報の編集画面です -->


<h3>customer_nameさんの会員情報</h3>

  <p>顧客ID</p>
  <p>氏名</p><input type="text" name="name">
  <input type="text" name="name">

  <p>フリガナ</p><input type="text" name="name-kana">
  <input type="text" name="name-kana">

  <p>郵便番号</p><input type="text" name="postal_code">

  <p>住所</p><input type="text" name="address">

  <p>電話番号</p><input type="text" name="telephone-number">

  <p>メールアドレス</p><input type="text" name="email"></p>

  <button type="button" class="btn btn-primary">編集する</button>
  <button type="button" class="btn btn-primary">注文履歴一覧を見る</button>