<!-- ここは管理者側のジャンル一覧・追加の画面です -->

<h3>ジャンル一覧・追加</h3>

<form>
  <div class="item">
    <label class="label">ジャンル</label>
    <input class="inputs"></input>
  </div>
</form>

<ul>
  <input type="radio" name="genre" value="Enabled"><label>有効</label>
  <input type="radio" name="genre" value="disabled"><label>無効</label>
  <button type="button" class="btn btn-primary">追加</button>
</ul>



<table>
  <tbody>
    <tr>
      <td>ジャンル</td>
      <td>状態</td>
      <td><button type="button" class="btn btn-primary">編集する</button></td>
    </tr>
  </tbody>
</table>