

<div class="container">


    <div class="col-md-offset-1">
        <span style="font-size:20pt; color:#000000; background-color:#C0C0C0;">登録情報変更</span></div>

    <p>form_for(@customer) do |f| </p>

    <table style="border: 0px none;">

      <tbody>
                <tr>
                  <td>f.label :氏名</td>
                  <td>(姓)f.text_field :family_name</td>
                  <td>(名)f.text_field :first_name</td>
                </tr>
                <tr>
                  <td>f.label :フリガナ</td>
                  <td>(ｾｲ)f.text_field :family_name_kana</td>
                  <td>(ﾒｲ)f.text_field :first_name_kana</td>
                </tr>
                <tr>
                  <td>f.label :メールアドレス</td>
                  <td>f.email_field :email</td>
                </tr>
                <tr>
                  <td>f.label :郵便番号</td>
                  <td>f.text_field :postal_code</td>
                </tr>

                <tr>
                  <td>f.label :住所</td>
                  <td>f.text_field :address</td>
                </tr>

                <tr>
                  <td>f.label :電話番号</td>
                  <td>f.text_field :telephone_number</td>
                </tr>

                <tr>
                  <td>f.submit "編集内容を保存する",class: "btn btn-primary"</td>
                  <td><%= link_to "退会する",class: "btn btn-danger col-lg-offset-12" %></td>
                </tr>
      </tbody>
    </table>

    <a>end</a>


</div>