<div class="container">

		<div class="col-md-offset-1">
			<span style="font-size:20pt; color:#000000; background-color:#C0C0C0;">マイページ</span></div>

		<table>
			<tr>
				<td><p style="font-size:20pt;">登録情報</p></td>
				<td><a class="btn btn-primary" href="#" role="button">編集する</a></td>
				<td><a class="btn btn-primary" href="#" role="button">パスワードを変更する</a></td>
			</tr>
		</table>

		<table style="margin:10px" border="1">
			<!-- 数値データを受けとる　-->
			<tr>
				<th style="background-color:#e0e0e0">氏名</th>
				<td>@customer.family_name　@customer.first_name</td>
			</tr>
			<tr>
				<th style="background-color:#e0e0e0">カナ</th>
				<td>@customer.family_name_kana　@customer.first_name_kana</td>
			</tr>
			<tr>
				<th style="background-color:#e0e0e0">郵便番号</th>
				<td>@customer.postal_code</td>
			</tr>
			<tr>
				<th style="background-color:#e0e0e0">住所</th>
				<td>@customer.address</td>
			</tr>
			<tr>
				<th style="background-color:#e0e0e0">電話番号</th>
				<td>@customer.telephone_number</td>
			</tr>
			<tr>
				<th style="background-color:#e0e0e0">メールアドレス</th>
				<td>メールアドレス１</td>
			</tr>
		</table>




		<table>
			<tr>
				<td><p style="font-size:20pt;">配送先</p></td>
				<td><a class="btn btn-primary" href="#" role="button">一覧を見る</a></td>
			</tr>
		</table>

		<table>
			<tr>
			 	<td><p style="font-size:20pt;">注文履歴</p></td>
			 	<td><a class="btn btn-primary" href="#" role="button">一覧を見る</a></td>
			</tr>
		</table>


</div>