

<div class="container">


		<strong style="font-size:20pt;">本当に退会しますか？</strong>

			<p style="font-size:20pt;">退会すると、会員登録情報や</p>
			<p style="font-size:20pt;">これまでの購入履歴が閲覧できなくなります</p>
			<p style="font-size:20pt;">退会する場合は、「退会する」をクリックしてください</p>

		<table>
		<tr>
			<td><button type="button" class="btn btn-primary">退会しない</button></td>
			<td><button type="button" class="btn btn-danger col-lg-offset-12">退会する</button></td>
		</tr>
		</table>


</div>