<!-- -------------CSS-------------- -->

<!-- .box3 {
	height: 200px;
	width: 200px;
	border: 1px solid #000000;
} -->

<!-- -------------CSS-------------- -->



<div class="row"><!-- ---------------row------------------------ -->

	<!-- 左側　ジャンル -->
	<div class="col-xs-3">

		<ul class="list-group">
			<li class="list-group-item">ジャンル検索</li>
			<li class="list-group-item">ケーキ</li>
			<li class="list-group-item">焼き菓子</li>
			<li class="list-group-item">プリン</li>
			<li class="list-group-item">キャンディー</li>
		</ul>

	</div>
	<!-- 左側　ジャンル -->


	<!-- 右側　 -->
	<div class="col-xs-9">
		<div class="box3">
			写真
		</div>

		<div class="item">
			<div>イチゴのショートケーキ</div>
			<div>商品の説明</div>
		</div>
	</div>
	<!-- 右側　 -->

</div> <!-- ---------------row------------------------ -->

