

<h2>新規会員登録</h2>


エラーメッセージ
  <table class="table" id="none-border">
    <tbody>

  <tr>
    <td><strong><br>名前</strong></td>
    <td>f.label :姓
     f.text_field :family_name
   </td>
    <td> f.label :名
     f.text_field :first_name
    </td>
  </tr>

  <tr>
   <td><strong><br>フリガナ</strong></td>
   <td> f.label :ｾｲ
     f.text_field :family_name_kana
   </td>
   <td> f.label :ﾒｲ
     f.text_field :first_name_kana
    </td>
  </tr>

  <tr>
    <td> f.label :メールアドレス </td>
    <td> f.email_field :email</td>
  </tr>

  <tr>
    <td> f.label :郵便番号 </td>
    <td> f.text_field :postal_code </td>
  </tr>

  <tr>
    <td> f.label :住所 </td>
    <td> f.text_field :address </td>
  </tr>

  <tr>
    <td> f.label :電話番号 </td>
    <td> f.text_field :telephone_number </td>
  </tr>

  <tr>
    <td> f.label :パスワード </td>
    <td> f.password_field :password </td>
  </tr>

  <tr>
    <td> f.label :パスワード（確認用） </td>
    <td> f.password_field :password_confirmation </td>
  </tr>

  <tr>
    <td> f.submit "新規登録", class: "btn btn-success btn-lg col-lg-offset-12" </td>
  </tr>
</tbody>
</table>



<h3>既に登録済みの方</h3>
<div class="col-lg-offset-2">
link_to "こちら", _path からログインしてください。
</div>

