<!-- -------------CSS-------------- -->

<!-- .box1 {
	height: 200px;
	width: 600px;
	border: 1px solid #000000;
}

.box2 {
	height: 100px;
	width: 500px;
	border: 1px solid #000000;
	margin: 0 auto;
	margin-top: 50px;
} -->

<!-- -------------CSS-------------- -->



<div class="row"><!-- ---------------row------------------------ -->

	<!-- 左側　ジャンル -->
	<div class="col-xs-3">

		<ul class="list-group">
			<li class="list-group-item">ジャンル検索</li>
			<li class="list-group-item">ケーキ</li>
			<li class="list-group-item">焼き菓子</li>
			<li class="list-group-item">プリン</li>
			<li class="list-group-item">キャンディー</li>
		</ul>

	</div>
	<!-- 左側　ジャンル -->


	<!-- 右側　ようこそ -->
	<div class="col-xs-9">
		<div class="box1">
			<div class="box2">ようこそ</div>
		</div>
	</div>
	<!-- 右側　ようこそ -->

</div> <!-- ---------------row------------------------ -->



<div class="row"> <!-- ---------------row------------------------ -->
	<div class="col-xs-12">
		<h2>オススメ商品</h2>
	</div>
</div> <!-- ---------------row------------------------ -->


<div class="row"> <!-- ---------------row------------------------ -->
	<div class="col-xs-3">
		<div class="thumbnail">
			商品写真
		</div>
		<div class="caption">
	        <p>商品名</p>
	        <p>price</p>
	    </div>
	</div>

	<div class="col-xs-3">
		<div class="thumbnail">
			商品写真
		</div>
		<div class="caption">
	        <p>商品名</p>
	        <p>price</p>
	    </div>
	</div>

	<div class="col-xs-3">
		<div class="thumbnail">
			商品写真
		</div>
		<div class="caption">
	        <p>商品名</p>
	        <p>price</p>
	    </div>
	</div>

	<div class="col-xs-3">
		<div class="thumbnail">
			商品写真
		</div>
		<div class="caption">
	        <p>商品名</p>
	        <p>price</p>
	    </div>
	</div>

</div> <!-- ---------------row------------------------ -->

