<div class="row">
  <div class="col-xs-7 col-xs-offset-1">
    <div class="cart-title" style="margin-left: 5%;">
      <mark style="font-size: 20px;">注文履歴詳細</mark>
    </div>
    <div class="table margin-30">
      <table border="0">
      <tr>
        <th style="width:40%">
          <p style="font-size:20px;">購入者</p>
        </th>


